<footer>
    <div class="footer-copyright text-center py-3 backgroundnavimage text-white"> 2023 Copyright:
        <a href="/" class="text-decoration-none text-white">Mano Raichon</a>
    </div>
</footer>