<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Demande de {{name}}</h1>
        <h1>email {{from}}</h1>
        <p>Message : {{message}}</p>
    </body>
</html>