{% extends 'base.html.twig' %}

{% block title %}AccessDenied{% endblock %}

{% block body %}
    <div style="text-align: center; padding: 20px;">
        <h1>Accès refusé</h1>
        <p>Désolé, vous n'avez pas la permission d'accéder à cette page.</p>
        <p><a href="{{ path('app_home') }}">Retour à la page d'accueil</a></p>
    </div>
{% endblock %}
